@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: #080808;
    color: white;
    font-family: overpass sans-serif;
    
}

.boxshawdow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
